* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 30px;
  font-weight: bold;
}
header {
  background-color: lightblue;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
main {
  display: flex;
  flex-direction: row;
  height: 80vh;
}
article {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}
aside {
  width: 15%;
  background-color: lightcoral;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav {
  width: 15%;
  background-color: lightgreen;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer {
  height: 10vh;
  background-color: lightblue;

  display: flex;
  align-items: center;
  justify-content: center;
}
