* {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
  padding-left: 10px;
  border-bottom: 3px solid black;
}
.title {
  display: flex;
  padding: 10px;
  align-items: center;
}
.title img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin-right: 10px;
}
.title a {
  font-weight: bold;
  text-decoration: none;
  color: black;
}
nav ul {
  display: flex;
  list-style: none;
}
nav li {
  margin-right: 10px;
  color: black;
}
nav a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}
nav a:hover {
  color: slategrey;
  transition: 0.3s;
}
.event {
  display: flex;
  font-weight: bold;
}
.event img {
  padding-right: 5px;
  width: 25px;
}
main {
  width: 75%;
  margin: auto;
  margin-top: 10px;
}
.container {
  display: flex;
}
.box1 {
  width: 50%;
}
th {
  width: 40%;
}
td {
  text-align: center;
}
.item {
  display: flex;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.item img {
  border-radius: 10px;
}
.desc {
  padding: 10px;
}
.box2 {
  background-color: rgb(210, 212, 213);
  width: 30%;
  padding: 10px;
  border-radius: 20px;
  margin-left: 100px;
}
.subBox {
  display: flex;
  justify-content: space-between;
}
.button {
  background-color: rgb(51, 144, 202);
  width: 40%;
  border-radius: 5px;
  text-align: center;
  padding: 2px;
  color: white;
  font-weight: bold;
  margin-top: 5px;
}
.button:hover {
  background-color: rgb(14, 119, 185);
  transition: 0.3s;
  cursor: pointer;
}
hr {
  margin-top: 50px;
}

footer {
  display: flex;
  justify-content: space-between;
  padding:10px 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 2px solid black;
  align-items: center;
}
