* {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
  padding-left: 10px;
  border-bottom: 3px solid black;
}
.title {
  display: flex;
  padding: 10px;
  align-items: center;
}
.title img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin-right: 10px;
}
.title a {
  font-weight: bold;
  text-decoration: none;
  color: black;
}
nav ul {
  display: flex;
  list-style: none;
}
nav li {
  margin-right: 10px;
  color: black;
}
nav a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}
nav a:hover {
  color: slategrey;
  transition: 0.3s;
}
.event {
  display: flex;
  font-weight: bold;
}
.event img {
  padding-right: 5px;
  width: 25px;
}
.container {
  display: flex;
  width: 70%;
  margin: auto;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
}
.box1 {
  width: 45%;
  margin-right: 20px;
}
.thank {
  display: flex;
  align-items: center;
  text-align: center;
}
.confirm {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 10px 0px;
  margin: 10px 0px;
}
.point {
  display: flex;
  margin: 10px;
}
.left {
  margin-right: 20px;
}
.box2 {
  width: 30%;
  background-color: slategrey;
  padding: 10px;
  line-height: 25px;
  border-radius: 5px;
}

.kocak {
  display: flex;
  justify-content: space-between;
}
.button {
  background-color: white;
  padding: 0px 10px;
  border-radius: 6px;
}
.button a {
  font-weight: bold;
  color: black;
  text-decoration: none;
}
.button:hover {
  background-color: slateblue;
}
.button a:hover {
  color: white;
}
hr {
  margin: 10px 0pxg;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 2px solid black;
  align-items: center;
}
