* {
  font-family: cursive;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body {
  width: 80%;
  margin: auto;
  background-color: #e8f5e9;
}

#header {
  text-align: center;
  margin-top: 5px;
  background-color: whitesmoke;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid black;
}

#header h1 {
  color: #388e3c;
}

h1,
h2,
h3,
h4,
span {
  color: #388e3c;
  font-weight: bold;
}

#header blockquote {
  width: 70%;
  margin: 10px auto;
  padding: 15px;
  color: black;
  background-color: ghostwhite;
  border: 1px solid black;
  border-radius: 10px;
}
#soekarno {
  font-weight: bold;
}
.nav {
  text-align: center;
  display: flex;
  margin: 10px auto;
  width: 50%;
  padding: 5px;
  border-radius: 10px;
}
.nav li {
  list-style: none;
}
.nav ul {
  display: flex;
  margin: auto;
}
.nav a {
  text-decoration: none;
  padding-right: 10px;
  color: #388e3c;
  font-weight: bold;
  font-size: larger;
}
.nav a:hover {
  color: rgba(0, 0, 0, 0.452);
}
.gambar img {
  width: 250px;
  height: 250px;
  border-radius: 15px;
  padding-inline: 10px;
}
.gambar {
  text-align: center;
  margin-top: 5px;
}

.isi {
  width: 100%;
  margin: auto;
  text-align: center;
  padding: 10px;
}
.box1 {
  background-color: whitesmoke;
  width: 65%;
  margin: auto;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid black;
  line-height: 25px;
}
.box2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-bottom: 20px;
  line-height: 26px;
}
#profil {
  padding: 20px;
  justify-content: center;
  font-size: 18px;
  background-color: whitesmoke;
  margin-right: 20px;
  padding-inline: 30px;
  border: 1px solid black;
  border-radius: 10px;
}
#beternak {
  background-color: whitesmoke;
  border: 1px solid black;
  padding: 10px;
  padding-inline: 30px;
  border-radius: 10px;
}
.koleksi {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 15px;
  margin-right: 40px;
}
.koleksi img {
  width: 250px;
  height: 250px;
  border-radius: 10px;
  border: 2px solid black;
}
.box3 {
  display: flex;
  margin: auto;
  align-items: center;
  background-color: whitesmoke;
  border: 1px solid black;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.onlineShop a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}
.onlineShop a:hover {
  opacity: 75%;
}
.onlineShop ol {
  list-style: none;
  display: flex;
}
.onlineShop li {
  padding-right: 15px;
  margin-top: 10px;
}

#tokopedia {
  color: green;
}
#bukalapak {
  color: rgb(179, 40, 40);
}
#shopee {
  color: orange;
}
