* {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  margin: auto;
}
header {
  padding: 15px;
  border-bottom: 2px solid black;
}
header ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
}
header a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
main {
  padding-top: 50px;
  width: 70%;
  margin: auto;
  display: flex;
}
.box1{
    width: 30%;
}
.image img {
  width: 40vh;
}


