* {
  font-family: "verdana";
  margin: 0px;
  padding: 0px;
}

.container {
  width: 60%;
  margin: auto;
}
.title {
  text-align: center;
  padding: 25px;
  font-size: 25px;
  font-weight: 500;
}
.personalDetail {
  margin-top: 40px;
  display: flex;
  margin-left: 30px;
}
.personalDetail h3 {
  padding-left: 20px;
  margin-bottom: 5px;
}
.photo img {
  width: 200px;
  border-radius: 5%;
}
.detail {
  display: flex;
  font-size: 14px;
  line-height: 25px;
  padding-left: 20px;
  margin-top: 40px;
}
.answer {
  margin-left: 20px;
}
.garis2 {
  margin-top: 35px;
  margin-bottom: 35px;
}
.education {
  display: flex;
  line-height: 35px;
  margin-left: 30px;
}
.year {
  margin-left: 30px;
}
.place {
  margin-left: 20px;
}
.subs-1 {
  padding-left: 40px;
  margin-bottom: 20px;
}
.social {
  float: right;
  justify-items: center;
  font-size: 20px;
}
.socialImage {
  padding: 10px;
  display: flex;
  justify-items: center;
  margin-left: 20px;
}
.social img {
  width: 65px;
  margin-right: 15px;
  transition: 0.3s ease;
}
.social img:hover {
  transform: scale(1.1);
}
