* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
header {
  display: flex;
  padding: 15px;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(44, 38, 69);
  color: white;
}
.title {
  display: flex;
  align-items: center;
}
.title img {
  width: 70px;
  border-radius: 100%;
}
.title h1 {
  font-size: 20px;
  margin-left: 15px;
}
nav ul {
  display: flex;
  list-style: none;
}
nav a {
  text-decoration: none;
  color: white;
  padding: 5px;
  transition: ease-in 0.1s;
}
nav a:hover {
  color: rgba(255, 255, 255, 0.297);
}
.searchbar input {
  width: 250px;
  height: 25px;
  border-radius: 10px;
  padding: 10px;
  margin-right: 15px;
  transition: ease-in 0.1s;
}
.searchbar input:hover {
  background-color: rgb(197, 195, 206);
}
main {
  width: 80%;
  margin: auto;
  margin-top: 40px;
}
.container {
  display: flex;
  background-color: rgba(112, 128, 144, 0.066);
  padding: 10px;
  padding-bottom: 25px;
  border-radius: 10px;
}
.box1 {
  width: 40%;
  justify-items: center;
  padding: 10px;
  border-radius: 3%;
}
.bigImage {
  padding: 10px;
  display: flex;
  justify-content: center;
}
.smallImage {
  padding: 5px;
  transition: ease-in 1ms;
}
.smallImage img:hover {
  opacity: 80%;
  border: 2px solid rgba(0, 0, 0, 0.377);
}
.bigImage img {
  width: 60%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 5%;
}
.smallImage img {
  width: 30%;
  height: 70px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 20%;
}
.orderButton {
  text-align: center;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 100px;
  width: 135px;
  margin-top: 10px;
  background-color: white;
  transition: ease-in 0.2s;
}
.orderButton:hover {
  background-color: rgb(44, 38, 69);
  color: white;
}
.box2 {
  margin-top: 60px;
  line-height: 35px;
}
.product {
  font-size: larger;
}
.rate span {
  color: gray;
}
.warna {
  margin-top: 10px;
  margin-bottom: 10px;
}
.warna p {
  padding-bottom: 10px;
}
.warnaBox {
  display: flex;
}
.warnaBox div {
  width: 45px;
  height: 45px;
  margin-right: 10px;
  border-radius: 10%;
  transition: ease-in 0.1s;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.biru {
  background-color: rgba(0, 68, 255, 0.934);
}
.merah {
  background-color: rgba(255, 0, 0, 0.803);
}
.hitam {
  background-color: rgba(0, 0, 0, 0.822);
}
.kuning {
  background-color: rgba(255, 255, 0, 0.642);
}
.warnaBox div:hover {
  transform: scale(1.1);
}
.ukuran p {
  padding-bottom: 10px;
  padding-top: 10px;
}
.ukuranBox {
  display: flex;
}
.ukuranBox div {
  width: 45px;
  height: 40px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-right: 10px;
  text-align: center;
  align-content: center;
  transition: ease-in 0.2s;
}
.ukuranBox div:hover {
  transform: scale(1.1);
  background-color: rgb(44, 38, 69);
  color: white;
}
.box3 {
  width: 34%;
  margin-left: 70px;
  padding-top: 90px;
  line-height: 20px;
}
.box3 p {
  margin-bottom: 2px;
}
.box3 strong {
  margin-left: 5px;
}
.desc {
  font-size: 14px;
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
}

footer {
  position: fixed;
  bottom: 0;
  padding: 15px;
  background-color: rgb(44, 38, 69);
  color: white;
  text-align: center;
  width: 100%;
  font-size: small;
  font-weight: bold;
}
