* {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  font-size: large;
  padding: 15px;
  display: flex;
  border-bottom: 2px solid black;
}
nav {
  margin: auto;
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav a {
  padding-right: 20px;
  color: black;
  font-weight: bold;
  text-decoration: none;
}
nav a:hover {
  color: slategray;
}
main {
  line-height: 1.7;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: auto;
}
.container {
  width: 70%;
  margin: auto;
  margin-top: 100px;
  display: flex;
  gap: 20px;
  justify-content: center;
}
img {
  width: 40vh;
  border-radius: 10px;
}
.descBox {
  display: block;
}
.box {
  display: flex;
  justify-content: space-between;
}
.box p {
  padding-right: 100px;
}
.button {
  text-align: center;
  background-color: black;
  width: 13%;
  margin: auto;
  border-radius: 10px;
  padding: 3px 0px;
  font-weight: bold;
}
.button:hover {
  background-color: greenyellow;
  color: green;
}
.button a {
  color: white;
  text-decoration: none;
}
