header{
    background-color: aquamarine;
    margin: -10px;
}
header ul{
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0.5em;
    margin: 0;
}
header li{
    margin:0 1em;
}
header li .logo{
margin-right: auto;
}
header .logo{
    width: 5%;
    border-radius: 100%;
}